{% extends "main/base.html" %}
{% block body %}
<div class="flex gap-5">
    {% for post in posts %}
        <div class="bg-white rounded-md overflow-hidden p-2 shadow">
            <ul class="text-gray-600 border-b p-2">
                <li class="font-bold hover:text-sky-600 uppercase text">
                    <a href="{% url 'post-detail' post.id %}">{{post.title}}</a>
                </li>
                <li class="text-sm flex gap-1 items-center">
                    <a href="{% url 'posts-user' post.author.username %}" class="hover:text-sky-500 flex gap-1 items-center">
                        <img class ="w-6 h-6 rounded-full object-cover" src="{{post.author.profile.image.url}}" >
                        <span>{{post.author}}</span>
                    </a>
                    <span>{{post.date_posted|date:"F d, Y"}}</span>
                </li>
            </ul>
                
            <span class="p-2">{{post.content}}</span>
        </div>
    {% endfor %}
</div>
{% if is_paginated %}
<nav class="inline-flex bg-white rounded border justify-center divide-x text-gray-500 items-center mt-5">
    {% if page_obj.has_previous %}
        <a class="hover:text-black hover:bg-gray-100 px-3 py-2" href="?page={{ page_obj.previous_page_number }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
          </svg></a>
        <a class="hover:text-black hover:bg-gray-100 px-3 py-2" href="?page=1">1</a>
    {% endif %}
    {% for page in page_obj.paginator.page_range %}
        {% if page_obj.number ==  page %}
            <a class="text-blue-600 bg-blue-50 hover:text-blue-700 hover:bg-blue-100 px-3 py-2" href="?page={{ page }}">{{ page }}</a>
        {% elif page > page_obj.number|add:'-2' and page < page_obj.number|add:'2'%}
            {% if page > 1 and page < page_obj.paginator.num_pages %}
            <a class="hover:text-black hover:bg-gray-100 px-3 py-2" href="?page={{ page }}">{{ page }}</a>
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <a class="hover:text-black hover:bg-gray-100 px-3 py-2" href="?page={{ page_obj.paginator.num_pages }}">{{page_obj.paginator.num_pages}}</a>
    <a class="hover:text-black hover:bg-gray-100 px-3 py-2" href="?page={{ page_obj.next_page_number }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
      </svg></a>

    {% endif %}
</nav>
{% endif %}

{% endblock body %}