{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block body %}
    <div class="flex justify-center">
        <div class="flex flex-col gap-5 bg-white rounded-lg p-5 shadow">
            <span class="font-bold text-xl">Создать аккаунт</span>
            <form method="POST" class="flex flex-col gap-5">
                {% csrf_token %}
                {{ form|crispy }}
                <div>
                    <input checked id="cb-1" type="checkbox">
                    <label for="cb-1" class="text-sm font-semibold">Я хочу получать отчеты на email</label>
                </div>
                <button class="text-sm font-semibold transition block rounded-md p-2 bg-blue-600 text-white hover:bg-sky-500 hover:text-white hover:ring-2 hover:ring-gray-400" type="submit">Зарегестрироваться</button>
            </form>
            <div class="border-t">
                <span class="text-sm font-semibold text-gray-600">Уже есть аккаунт?</span>
                <a class="text-sky-500 text-sm font-semibold hover:text-sky-800" href="{% url 'login' %}">Войти</a>
            </div>
        </div>
    </div>

{% endblock body %}