{% extends "main/base.html" %}
{% block body %}
<p>
Компания по разработке ПО "ligma LLC" была основана при Иване III в 1500 году. В набега была передана в управление к польскому князю Дмитро 4. В ходе буржуазной революции управление перешло к Стасу Гоблинскому. После его кончины узды правления взял в свои руки немецкий герцог Артур Обивич. Под его руководством компания успешно развивалась 250 лет и в 2000 году она перешла к Виктору Премудрому. Вот уже 523 года наша компания успешно разрабатывает программное обеспечение и имеет мировую известность.
</p>

{% endblock body %}
