{% extends "main/base.html" %}
{% block body %}
<p>
Без регистрации вы можете смотреть главную страницу нашего сайта. Для доступа к уведомлениям и выбору сайтов для отслежевания вам необходимо пройти бесплатную регистрацибъ

Без регистрации вы можете смотреть главную страницу нашего сайта. Для доступа к уведомлениям и выбору сайтов для отслежевания вам необходимо пройти бесплатную регистрацию. Для добавления сайта нажмите по своему профилю и перейдите в вкладку "Отслеживамые" и нажсмите +. В открывшейся форме вы можете добавить сайт. Для добавления уведомлений перейдите в бота @SB_NotificationsBot и нажмите "Start". Ваш выдаст Айди, который необходимо указать в своем личном кабинете. Не забудьте указать свою почту, если хотите получать уведомления и туда.
</p>
{% endblock body %}
